/* --- Mapbox Properties Styles --- */

/* Base popup wrapper */
.mapboxgl-popup {
  min-width: fit-content; 
  z-index: 15;
}

/* Popup content container */
.mapboxgl-popup-content {
  padding: 2px !important;
  border-radius: 12px !important; 
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.mapboxgl-popup-close-button span {
  display: none;
}

/* Popup arrow tip */
.mapboxgl-popup-tip {
  border-top-color: #fff !important;
}
